.type-3078 {
  background-color: #fff;
  padding-top: 50px;
  padding-bottom: 50px;
  text-align: center;
  font-family: 'Poppins', sans-serif;
}
.type-3078 h1 {
  font-size: 32px;
  font-weight: 400;
  color: black;
  margin-bottom: 20px;
}
.type-3078 p1 {
  color: #c45d3c;
  font-size: 20px;
  line-height: 1.8;
  margin-bottom: 30px;
}
.type-3078 p {
  font-size: 16px;
  line-height: 1.8;
  color: #666;
  margin-bottom: 30px;
  margin-top: 30px;
  font-weight: 50;
}
.type-3078 .btn-orange {
  background-color: #c45d3c;
  border: none;
  font-weight: bold;
  padding: 10px 20px;
  color: #fff;
  font-size: 16px;
  text-transform: uppercase;
  border-radius: 5px;
  cursor: pointer;
}
.type-3078 .btn-orange:hover {
  background-color: #c45d3c;
}
.type-3078 .img-fluid {
  max-width: 100%;
  height: auto;
}
.type-3078 .info-section {
  margin-top: 40px;
}
.type-3078 .info-section .info-box {
  background-color: #f9f8f4;
  padding: 40px;
  border-radius: 5px;
  text-align: left;
}
.type-3078 .info-section .info-box h3 {
  font-size: 22px;
  font-weight: 400;
  margin-bottom: 15px;
  color: black;
  letter-spacing: 1px;
  font-family: 'Poppins', sans-serif;
}
.type-3078 .info-section .info-box p {
  font-size: 16px;
  color: #666;
  letter-spacing: 0.5px;
}
